<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ljying.github.io.recyclerviewlibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SwipeLayoutActivity"
            android:label="滑动布局"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SimpleExpandActivity"
            android:label="简单分组"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MultiCheckExpandActivity"
            android:label="多选分组"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SingleCheckExpandActivity"
            android:label="单选分组"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MultiTypeExpandActivity"
            android:label="多类型子条目分组"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SwipeActivity"
            android:label="滑动拖拽菜单"
            android:screenOrientation="portrait" />
    </application>

</manifest>